<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
            <h6>Filter By</h6>
            <div class="row">
                <div class="col-lg"> Explore </div>
                <div class="col-lg" data-bs-toggle="collapse" data-bs-target="#collapseExplore" aria-expanded="false"
                    aria-controls="collapseExample">
                    <i class="bi bi-caret-down-fill"></i>
                </div>
                <hr>
                <div class="collapse" id="collapseExplore">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">All</label>
                    </div>
                </div>
                <div class="collapse" id="collapseExplore">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Recently Added</label>
                    </div>
                </div>
                <div class="collapse" id="collapseExplore">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Trending</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg"> Category </div>
                <div class="col-lg" data-bs-toggle="collapse" data-bs-target="#collapseCategory" aria-expanded="false"
                    aria-controls="collapseExample">
                    <i class="bi bi-caret-down-fill"></i>
                </div>
                <hr>
                <div class="collapse" id="collapseCategory">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Account</label>
                    </div>
                </div>
                <div class="collapse" id="collapseCategory">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">AI</label>
                    </div>
                </div>
                <div class="collapse" id="collapseCategory">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Business Intelligence</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col align-self-center">
                    <div class="row container-fluid">
                        {{#apiMetadata}}
                        <div class="card lg-3" style="max-width: 320px;">
                            <img src={{apiInfo.apiArtifacts.apiImages.api-detail-page-image}}
                                class="img-fluid rounded-start" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-start">{{apiInfo.apiName}}</h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary text-start">{{apiInfo.apiCategory}}
                                </h6>
                                <p>{{apiInfo.openApiDefinition.info.description}}</p>
                                <div class="row">
                                    <div class="d-flex flex-wrap">
                                        {{#apiInfo.tags}}
                                        <span class="badge text-bg-primary" style="margin: 5px;">{{this}}</span>
                                        {{/apiInfo.tags}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg">
                                        <button type="button"
                                            class="btn btn-outline-info custom-signup-btn">Overview</button>
                                    </div>
                                    <div class="col-lg">
                                        <button type="button"
                                            class="btn btn-outline-info custom-signup-btn">Documentation</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/apiMetadata}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>