<section>
<div class="container-fluid text-left api-banner-container">
    <div class="row">
        <img class="img-thumbnail" src={{apiMetadata.apiInfo.apiArtifacts.apiImages.api-landing-page-image}}
            style="max-width: 100px;"> </img>
    </div>
    <div class="row">
        <div class="d-flex align-items-center mt-4">
            <h4 class="mb-0 me-2">{{apiMetadata.apiInfo.openApiDefinition.info.title}}</h4>
            <span class="badge text-bg-primary">{{apiMetadata.apiInfo.apiCategory}}</span>
        </div>
    </div>
    <div class="row">
        <div class="d-flex align-items-center mt-1">
            <p>{{apiMetadata.apiInfo.openApiDefinition.info.description}}</p>
        </div>
    </div>
    <div class="row">
        <div class="d-flex flex-wrap">
            {{#apiMetadata.apiInfo.tags}}
            <span class="badge text-bg-primary" style="margin: 5px;">{{this}}</span>
            {{/apiMetadata.apiInfo.tags}}
        </div>
    </div>
    <div class="row">
        <div class="buttons">
            <a type="button" class="common-btn-primary" href="{{apiMetadata.apiInfo.apiName}}/tryout">Try Out</a>
            <a type="button" class="common-btn-secondary">Documentation</a>
        </div>
    </div>
</div>
</section>